<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./gsucursales.component.css">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <!--Division de clase para el regstro de usuarios-->
            <div class="contenedor__user-register">
                <!--Formulario para el registro de usuarios-->
                <form id="formRegistro" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario__registro" autocomplete="off">
                    <h2>Registrar Sucursal</h2>
                    <input id="sucName" type="text" placeholder="Nombre de la sucursal" formControlName="name">
                    <input id="sucProv" type="text" placeholder="Provincia de ubicación" formControlName="prov">
                    <input id="sucCant" type="text" placeholder="Cantón de ubicación" formControlName="cant">
                    <input id="sucDist" type="text" placeholder="Distrito de ubicación" formControlName="dist">
                    <input id="sucTel" type="tel" placeholder="Teléfono" formControlName="tel">
                    <h6>Seleccione el gerente de la sucursal:</h6>
                    <select name="sucGerente" formControlName="idGer">
                        <option *ngFor="let ger of GerenteList" [value]="ger.id">
                            {{ger.nombre}}
                        </option>
                    </select>
                    <h6>Seleccione la fecha de apertura de la sucursal:</h6>
                    <input id="sucApertura" type="date" placeholder="Fecha de apertura" formControlName="fAbre">
                    <h6>Seleccione la fecha de inicio de la gerencia</h6>
                    <input id="sucDateGerente" type="date" placeholder="Fecha inicio de gerencia" formControlName="fInicio">
                    <button class="button" type="submit">Registrar Sucursal</button>
                </form>
                <!--Crear una tabla en este nivel-->
            </div>
            <div>
                <!--Espaciadores-->
                <p>&nbsp;</p> 
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="tablaRegistro">
            <h2>TABLA DE SUCURSALES REGISTRADAS</h2>
            <!--Creacion de una tabla que muestra los datos de los clientes-->
            <table class="tabla">
                <tr>
                    <th>Nombre</th>
                    <th>Provincia</th>
                    <th>Cantón</th>
                    <th>Distrito</th>
                    <th>Teléfono</th>
                    <th>Nombre del gerente</th>
                    <th>Fecha de apertura</th>
                    <th>Inicio gerencia</th>
                </tr>
                <tr *ngFor="let dataItem of SucursalList"><!--modificar esto de acuerdo con los headders de la base de datos-->
                    <td>{{dataItem.nombre}}</td>
                    <td>{{dataItem.provincia}}</td>
                    <td>{{dataItem.canton}}</td>
                    <td>{{dataItem.distrito}}</td>
                    <td>{{dataItem.telefono}}</td>
                    <td>{{dataItem.gerente_Sucursal}}</td>
                    <td>{{dataItem.fecha_Apertura}}</td>
                    <td>{{dataItem.fecha_inicio_gerente}}</td>
                </tr>
                <!--En esta parte es donmde se agregan las demas filas--> 
            </table>
        </div>
    </main>
    <script></script>
</body>
</html>