<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./billing.component.css">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <!--Division de clase para el regstro de usuarios-->
            <div class="contenedor__user-register">
                <!--Formulario para el registro de usuarios-->
                <form id="formRegistro" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario__registro" autocomplete="off">
                    <h2>Generación de Facturas</h2>

                    <input id="billId" type="number" min="0" placeholder="Numero de cédula del cliente" formControlName="id_cliente">
                    <!--Registrar en la factura--><!--Ver especificacion para requerimientos-->
                    <input id="billBebidas" type="number" min="0" placeholder="Cantidad de bebidas consumidas" formControlName="cantidad_bebidas"><!--Si es mayor a 1 se debe cobrar-->
                    <input id="billSnacks" type="number" min="0" placeholder="Cantidad de snacks consumidos" formControlName="cantidad_snacks"><!--Si es mayor a 1 se debe cobrar-->
                    <h6>Seleccione el método de pago:</h6>
                    <select class="tipo" name="hora" id="metodo_pago" formControlName="metodo_pago">
                        <option value="efectivo">Pagar con efectivo</option>
                        <option value="puntos">Pagar con puntos</option>
                    </select>
                    <button class="button" type="submit">Generar Factura</button>
                    
                    <!--Generada la facturacion, se debe asignar la cantidad de puntos que otorga el tipo de lavado-->
                    <!--Finalmente descontar la cantidad de puntos si el servicio se paga con puntos-->
                </form>
                <!--Crear una tabla en este nivel-->
            </div>
        </div>
    </main>
    <script></script>
</body>
</html>