<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./gclients.component.css">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <!--Division de clase para el regstro de usuarios-->
            <div class="contenedor__user-register">
                <!--Formulario para el registro de usuarios-->
                <form id="formRegistro" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario__registro" autocomplete="off">
                    <h2>Registrar Clientes</h2>
                    <input id="usrName" type="text" placeholder="Nombre" formControlName="nombre">
                    <input id="usrApe1" type="text" placeholder="Primer Apellido" formControlName="apellido1">
                    <input id="usrApe2" type="text" placeholder="Segundo Apellido" formControlName="apellido2">
                    <input id="usrTel1" type="tel" placeholder="Teléfono1" formControlName="telefono1">
                    <input id="usrTel2" type="tel" placeholder="Teléfono2" formControlName="telefono2">
                    <input id="usrCed" type="number" placeholder="Cédula" maxlength="9" formControlName="cedula">
                    <input id="usrMail" type="email" placeholder="Correo Electrónico" formControlName="email">
                    <input id="usrDir" type="text" placeholder="Direcciones" formControlName="direcciones">
                    <input id="usrUsr" type="text" placeholder="Usuario" formControlName="usuario">
                    <button id = "Registrar">Registrar Cliente</button>
                </form>
                <!--Crear una tabla en este nivel-->
            </div>
            <div>
                <!--Espaciadores-->
                <p>&nbsp;</p> 
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="tablaRegistro">
            <h2>TABLA DE CLIENTES REGISTRADOS</h2>
            <!--Creacion de una tabla que muestra los datos de los clientes-->
            <table class="tabla">
                <tr>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Teléfono1</th>
                    <th>Teléfono2</th>
                    <th>Cédula</th>
                    <th>Correo Electrónico</th> 
                    <th>Direcciones</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                </tr>
                <tr *ngFor="let dataItem of ClientsList"><!--modificar esto de acuerdo con los headders de la base de datos-->
                    <td>{{dataItem.nombre}}</td>
                    <td>{{dataItem.apellido1}}</td>
                    <td>{{dataItem.apellido2}}</td>
                    <td>{{dataItem.telefono1}}</td>
                    <td>{{dataItem.telefono2}}</td>
                    <td>{{dataItem.cedula}}</td>
                    <td>{{dataItem.correo}}</td>
                    <td>{{dataItem.direccion}}</td>
                    <td>{{dataItem.usuario}}</td>
                    <td>{{dataItem.password}}</td>
                </tr>
                <!--En esta parte es donmde se agregan las demas filas--> 
            </table>
        </div>
    </main>
    <script></script>
</body>
</html>