<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./regcitas.component.css">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <!--Division de clase para el regstro de usuarios-->
            <div class="contenedor__user-register">
                <!--Formulario para el registro de usuarios-->
                <form id="formRegistro" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario__registro" autocomplete="off">
                    <h2>Registrar Cita</h2>
                    <h6>Seleccione el nombre del cliente:</h6>
                    <select name="prodProv" formControlName="cliente_cedula">
                        <option *ngFor="let cli of clientList" [value]="cli.id">
                            {{cli.nombre}}
                        </option>
                    </select>
                    <h6>Introduzca la placa del vehículo:</h6>
                    <input id="citaPlaca" type="number" placeholder="Placa del vehículo" formControlName="placa">
                    <h6>Seleccione una sucursal:</h6>
                    <select name="prodProv" formControlName="sucursal">
                        <option *ngFor="let suc of sucList" [value]="suc.id">
                            {{suc.nombre}}
                        </option>
                    </select>
                    <h6>Seleccione el tipo de lavado solicitado:</h6>
                    <select name="prodProv" formControlName="tipo_lavado">
                        <option *ngFor="let lav of lavList" [value]="lav.id">
                            {{lav.nombre}}
                        </option>
                    </select>
                    <h6>Seleccione la hora de la cita:</h6>
                    <select class="tipo" name="hora" id="horaCita" formControlName="hora">
                        <option value="08:00 am">08:00 am</option>
                        <option value="08:30 am">08:30 am</option>

                        <option value="09:00 am">09:00 am</option>
                        <option value="09:30 am">09:30 am</option>

                        <option value="10:00 am">10:00 am</option>
                        <option value="10:30 am">10:30 am</option>

                        <option value="11:00 am">11:00 am</option>
                        <option value="11:30 am">11:30 am</option>

                        <option value="01:00 pm">01:00 pm</option>
                        <option value="01:30 pm">01:30 pm</option>

                        <option value="02:00 pm">02:00 pm</option>
                        <option value="02:30 pm">02:30 pm</option>

                        <option value="03:00 pm">03:00 pm</option>
                        <option value="03:30 pm">03:30 pm</option>

                        <option value="04:00 pm">04:00 pm</option>
                        <option value="04:30 pm">04:30 pm</option>
                    </select>
                    <button class="button" type="submit">Registrar Cita</button>
                </form>
                <!--Crear una tabla en este nivel-->
            </div>
            <div>
                <!--Espaciadores-->
                <p>&nbsp;</p> 
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="tablaRegistro">
            <h2>TABLA DE CITAS REGISTRADAS</h2>
            <!--Creacion de una tabla que muestra los datos de los clientes-->
            <table class="tabla">
                <tr>
                    <th>Nombre del Cliente</th>
                    <th>Placa del Vehículo</th>
                    <th>Sucursal</th>
                    <th>Lavado Solicitado</th>
                </tr>
                <tr *ngFor="let dataItem of CitaList"><!--modificar esto de acuerdo con los headders de la base de datos-->
                    <td>{{dataItem.cliente_cedula}}</td>
                    <td>{{dataItem.placa}}</td>
                    <td>{{dataItem.sucursal}}</td>
                    <td>{{dataItem.lavado_solicitado}}</td>
                </tr>
                <!--En esta parte es donmde se agregan las demas filas--> 
            </table>
        </div>
    </main>
    <script></script>
</body>
</html>