<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login DetailTEC</title>
    <link rel="stylesheet" href="./inicio-sesion.component.css">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <button id = "btn__iniciar-sesion">Iniciar sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>Inicio de sesión de DetailTEC</h3>
                    <p>Inicia sesión para acceder a tu cuenta...</p>
                </div>
            </div>
            <!--Formulario de login y registro-->
            <div class="contenedor__login-register">
                <!--login-->
                <form id="formEntrar" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario__login">
                    <h2>Iniciar sesión</h2>
                    <input id="user" type="text" placeholder="Usuario" formControlName="usuario">
                    <input id="password" type="password" placeholder="Contraseña" formControlName="password">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </main>
    <script>
        /*AGREGAR AQUI LAS FUNCIONALIDADES*/
    </script>
</body>
</html>