<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./gproviders.component.css">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <!--Division de clase para el regstro de usuarios-->
            <div class="contenedor__user-register">
                <!--Formulario para el registro de usuarios-->
                <form id="formRegistro" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario__registro" autocomplete="off">
                    <h2>Registrar Proveedor</h2>
                    <input id="provName" type="text" placeholder="Nombre del proveedor" formControlName="nombre">
                    <input id="provCed" type="number" placeholder="Cedula jurídica" max="9" formControlName="cedula_juridica">
                    <input id="provDir" type="text" placeholder="Dirección" formControlName="direccion">
                    <input id="provMail" type="email" placeholder="Correo Electrónico" formControlName="email">
                    <input id="provTel" type="tel" placeholder="Telefono de contacto" formControlName="telefono">
                    <button class="button" type="submit">Registrar Trabajador</button>
                </form>
                <!--Crear una tabla en este nivel-->
            </div>
            <div>
                <!--Espaciadores-->
                <p>&nbsp;</p> 
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="tablaRegistro">
            <h2>TABLA DE PROVEEDORES REGISTRADOS</h2>
            <!--Creacion de una tabla que muestra los datos de los clientes-->
            <table class="tabla">
                <tr>
                    <th>Nombre del Proveedor</th>
                    <th>Cédula Jurídica</th>
                    <th>Dirección</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                </tr>
                <tr *ngFor="let dataItem of ProvidersList"><!--modificar esto de acuerdo con los headders de la base de datos-->
                    <td>{{dataItem.nombre}}</td>
                    <td>{{dataItem.cedula_juridica}}</td>
                    <td>{{dataItem.direccion}}</td>
                    <td>{{dataItem.correo}}</td>
                    <td>{{dataItem.telefono_Contacto}}</td>
                </tr>
                <!--En esta parte es donmde se agregan las demas filas--> 
            </table>
        </div>
    </main>
    <script></script>
</body>
</html>